.top-left-container,
.bottom-right-container {
    position: absolute;
    width: 50%;
    height: 50%;
}

.top-left-container {
    top: 0;
    left: 0;
}

.bottom-right-container {
    bottom: 0;
    right: 0;
}

.bottom-right-image {
    width: 109%;
    height: 100%;
}

.top-left-image {
    width: 102%;
    height: 151%;
}

.login-container {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    /* background: #EEF5ED; */
    background:var(--v2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-box-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    background-color: var(--v4);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  
    z-index: 2;
    padding: 0;
    margin: 0;
    overflow: hidden;
    display: flex;
  }

.callsender-image {
    position: absolute;
    right: 0;
    top: 0;
    height: 107%;
    transform: translate(1%, -2%);
}

.userlogin-container {
    position: absolute;
    left: 16%;
    top: 2%;
    height: 72%;
    width: 72%;
    transform: translate(-19.2%, -2%);
}
@media only screen and (max-width: 768px) {
    .headline div {
        font: Helvetica;
        font-size: 29px !important;
    }

    .image-container{
        display: none !important;
    }

    .form-container{
        padding-top: 100px !important;
        padding-left: 20px !important;
    }
    .form-group {
        position: relative;
        padding-top: 33px;
        padding-left: 0px; 
    }
}
.headline div {
    color: var(--v3);
    font: Helvetica;
    width: 106%;
    font-size: 340%;
    font-weight: 0%;
    padding-top: 50px;
    padding-left: 15px;
}

#Login-header div {
    color: var(--v3);
    font: Helvetica;
    font-size: x-large;
}

#Login-header{
    padding-top: 1%;
    padding-bottom: 2%;
}

#confirmPassword,
#newPassword,
#oldPassword {
    border-radius: 25px;
    border: 2px solid var(--v9);
    padding: 15px;
    width: 236px;
    height: 0px;  
    padding-left: 37px;  
}

.form-control-password{
    width: 28%;
    padding: 10px;
    box-sizing: border-box; 
    /* background: url('../../assets/images/key.png') no-repeat 10px center;  */
    background-size: 20px 20px; 
}

.form-container{
    padding-top: 10%;
    margin-left: 2%;
}

.password-container{
    height: 100%;
    width: 100vh;
}

.forgot-link {
    margin-left: -7%;;
    color: var(--v9);
    cursor: pointer;
    font-size: 73%;
}

.forgot-link:hover {
    text-decoration: underline; 
}

.form-control-password::after {
    content: 'Forgot?';
    position: absolute;
    right: 10px; 
    top: 50%;
    transform: translateY(-50%);
    color: var(--v9); 
    cursor: pointer;
}

.form-group {
    position: relative;
    margin-bottom: 15px; 
}

#submit {
    padding: 5px 24px;
    border-radius: 15px;
    background-color: var(--v3);
    color: #fff;
    border: none;
    cursor: pointer;
    /* transition: background-color 0.3s ease; */
    /* margin-left: 144px; */
    border: 1px solid var(--v3);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  }

  /* #submit:hover {
    background-color: var(--v11);
  } */
  #Back{
    padding: 5px 24px;
    border-radius: 15px;
    background-color: gray;
    color: var(--v4);
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.alert-password{
    color: red;
}

.success{
    color: #4CAF50;
}
.submit-container{
    margin-left: -83px;
}
