<div class="login-container">
  <div class="top-left-container">
    <img src="../../assets/images/leftTop.png" alt="Example Image" class="top-left-image">
  </div>

  <div class="center-box-container">
    <div class="image-container">
      <img src="../../assets/images/call_sender.png" alt="Example Image" class="callsender-image">
    </div>
    <div class="userlogin-container">
      <div class="headline">
        <div id="tracker-head">License Tracker</div>
      </div>
      <div class="form-container">
        <div id="Login-header">
          <div>Reset Password</div>
        </div>
        <div class="form-group">
          <form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()">
            <div class="password-container">
              <input type="password" class="form-control-password" name="newPassword" id="newPassword"
                formControlName="newPassword" placeholder="New Password" (input)="handleInput()" />

              <!-- Password required  -->
              @if (passwordResetForm.get('newPassword')?.errors?.['required'] &&
              passwordResetForm.get('newPassword')?.touched) {
              <div class="alert-password">Password is required.</div>
              }@else {
              @if(isTyping == true && allConditionsset == false){

              <!-- Minimum 8 letters required -->
              @if (passwordResetForm.get('newPassword')?.errors?.['minlength'] ) {
              <br>
              <div class="alert-password">Password must be at least 8 characters.</div>
              }@else {
              <div class="success">Password must be at least 8 characters.</div>
              }

              <!-- SpeacialCharacters required -->
              @if (passwordResetForm.get('newPassword')?.errors?.['hasSpeacialCharacters']) {
              <div class="alert-password">Password must contain at least one special character.</div>
              }@else {
              <div class="success">Password must contain at least one special character.</div>
              }

              <!-- Atleast one lowercase letter required -->
              @if (passwordResetForm.get('newPassword')?.errors?.['hasSmallCase']) {
              <div class="alert-password">Password must contain at least one lowercase letter.</div>
              }@else {
              <div class="success">Password must contain at least one lowercase letter.</div>
              }

              <!-- Atleast one digit required -->
              @if (passwordResetForm.get('newPassword')?.errors?.['hasNumber']) {
              <div class="alert-password">Password must contain at least one digit.</div>
              }@else {
              <div class="success">Password must contain at least one digit.</div>
              }

              <!-- Atleast one uppercase letter required -->
              @if (passwordResetForm.get('newPassword')?.errors?.['hasCapitalCase']) {
              <div class="alert-password">Password must contain at least one uppercase letter.</div>
              }@else {
              <div class="success">Password must contain at least one uppercase letter.</div>
              }
              }
              }
            </div>
            <br>
            <div class="password-container">
              <input type="password" class="form-control-password" required="required" name="confirmPassword"
                id="confirmPassword" formControlName="confirmPassword" placeholder="Confirm New Password">
              @if(passwordsDoNotMatch()){
              <p style="color: red;">Please enter same password!</p>
              }
            </div>
            <br>
            <div style="display: flex;justify-content: space-between;width: 234px;">
              <div class="Back-container">
                <button id="Back" type="button" (click)="back()">Back</button>
              </div>
              <div class="submit-container">
                <button id="submit" type="submit"
                  [disabled]="!passwordResetForm.valid || passwordsDoNotMatch()">Submit</button>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>

  <div class="bottom-right-container">
    <img src="../../assets/images/Bottomright.png" alt="Example Image" class="bottom-right-image">
  </div>
</div>