.menu-container{
    background-color: var(--v1);
    display: flex;
    /* justify-content: center;  */
    align-items: center; /* Center the child vertically */
    height: 10vh;
}
mat-tab-group{
    background-color: var(--v1) !important;
 
}
::ng-deep .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow: 0 !important;
}

.manager-container,
.customer-container,
.changepassword-container{
    background-color: white;
}

.sub-menu {
    display: flex;
    align-items: center; 
    background-color: var(--v1);
    height: 40px;
  }
  
  .search-container {
    display: flex;
    align-items: center; 
    margin-top: 0px;
    margin-left: 10px;
    height: 50px;
  }
  
  .search-button{
    margin-left: -2px;
    height: 30px;
    width: 30px;
    background-color: var(--v3);
    color: #FFFFFF;
    border: none;
    border-radius: 2px;
  }
  .mat-icon-search{
    margin-top: 1px;
    margin-left: -3px;
  }

  .line-setting {
    background-color: var(--v3);
    padding: 1px;
}
.line-setting1 {
  background-color: var(--v3);
  padding: 1px;
}
::ng-deep .mat-mdc-tab-body-content {
    height: 100%;
    overflow: hidden !important;
}

#newuser {
    height: 30px;
    width: 109px;
    border-radius: 15px;
    background-color: var(--v3);
    color: #fff;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-left: 20px;
    margin-top: 0px;
    border: 1px solid var(--v3);
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
#newCustomer{
  height: 30px;
  width: 135px;
  border-radius: 15px;
  background-color: var(--v3);
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 20px;
  margin-top: 0px;
  border: 1px solid var(--v3);
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.search{
  height: 30px;
}

:host ::ng-deep .mat-mdc-paginator-container {
  justify-content: space-between !important;
}

::ng-deep .mat-sort-header-arrow {
  margin-left: 23px !important;
  color: var(--v4) !important;
}

::ng-deep .mat-mdc-paginator-page-size {
  color: var(--v4);
  background-color: var(--v3);
  display: flex;
  align-items: baseline;
  margin-right: 8px;
}

::ng-deep .mat-mdc-select-value-text {
  color: var(--v4);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.pagination-container {
  /* background-color:  #EEF5ED; */
  background-color: #FFFFFF;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

::ng-deep .mat-mdc-select-arrow svg {
  color: var(--v4);
  fill: currentColor;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

::ng-deep .mat-mdc-form-field-type-mat-select:not(.mat-form-field-disabled) .mat-mdc-text-field-wrapper {
  margin-left: 0.6vh;
  cursor: pointer;
}

::ng-deep .mat-mdc-paginator-range-actions {
  color: var(--v4);
  background: var(--v3);
  display: flex;
  align-items: center;
}

::ng-deep .mat-elevation-z8,
.mat-mdc-elevation-specific.mat-elevation-z8 {
  box-shadow: none;
}

::ng-deep .mat-mdc-select-panel-above div.mat-mdc-select-panel {
  background-color: var(--v3);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  transform-origin: bottom center;
}

::ng-deep .mat-mdc-option.mdc-list-item--selected:not(.mdc-list-item--disabled) .mdc-list-item__primary-text {
  color: var(--v4) !important;
}

::ng-deep div.mat-mdc-select-panel .mat-mdc-option {
  color: var(--v4);
}

#table-size{
overflow: auto;
height: 46vh;
padding: 12px;
background-color: white;
}

.icon-container{
  background-color: transparent !important;
  border: none;
  color: var(--v3);
}

.no-data-message {
  text-align: center;
  font-style: italic;
  color: var(--v10);
}
.Dealer-container{
  display: flex;
}

.XLS {
  margin-left: 62%;
  margin-top: 8px;
  width: 57px;
  height: 25px;
  border-radius: 0 10px 0 0;
  background-color: #5A9158;
  border: none;
  color: var(--v4);
  cursor: pointer;
}

.centerBox-container {
  border-radius: 5px;
  position: fixed;
  top: 32%;
  left: 32%;
  width: 51vh;
  height: 45vh;
  background-color: var(--v2);
}

.header-DealerCustomer {
  /* background-color: #52674F; */
  background-color: var(--v3);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-radius: 5px 5px 0px 0px;
}
.header-DealerCustomer label {
  color: var(--v4);
}

.form-fileds{
  padding: 15px;
}

.btn {
  background-color: var(--v3);
}

#old-password,
#new-password,
#confirm-password{
  border: 2px solid #89AECF;
}

.custom-header {
  background-color: var(--v3);
  color: white;

}

tr:nth-child(odd) {
  background-color: var(--v2);
}

tr:nth-child(even) {
  background-color: var(--v1);
}
