<div class="container">
    
    <div class="row text-center">
        <div class="header-DealerCustomer">
            <label>Region Update</label>
            <mat-icon id="mat-icon" style="color: var(--v3);background-color: var(--v4);cursor: pointer;" (click)="closeDateSelector()">
                close
            </mat-icon>
        </div>
      <div class="col">
        <h3 style="text-align: center; padding-top: 40px; ">{{message}}</h3>
      </div>
    </div>
    <div class="row">
      <div class="col text-center" style="text-align: center;">
        <button class="btn" mat-button mat-dialog-close>{{buttonvalue}}</button>
      </div>
    </div>
  </div>