<div class="login-container">
    <div class="top-left-container">
      <img src="../../assets/images/leftTop.png" alt="Example Image" class="top-left-image">
    </div>
  
    <div class="center-box-container">
      <div class="image-container">
        <img src="../../assets/images/call_sender.png" alt="Example Image" class="callsender-image">
      </div>
      <div class="userlogin-container">
        <div class="headline">
          <div id="tracker-head">License Tracker</div>
        </div>
        <div class="form-container">
          <div id="Login-header">
            <div>Forgot password</div>
            <br>
            <p style="color: var(--v3);">Enter your email to receive a password
              reset link</p>
          </div>
          <div class="form-group">
            <form [formGroup]="passwordResetForm" (ngSubmit)="sendmail()">
                <br>
                <div class="username-container">
                  <input type="username" class="form-control-username" required="required" name="username" id="username"
                    formControlName="username" placeholder="Enter username (Email Id)">
                    <mat-icon class="account_circle">account_circle</mat-icon>
                </div>
                <br>
                <div style="display: flex;justify-content: space-betwee;width: 50%;">
                <div class="Back-container">
                  <button id="Back" type="button" (click)="back()">Back</button>
                </div>
                <div class="submit-container">
                    <button id="submit" type="submit" [disabled]="isSubmitButtonDisabled"
                    [ngClass]="{'disabled-button': isSubmitButtonDisabled, 'enabled-button': !isSubmitButtonDisabled}">Send mail</button>
                  </div>
                </div>
              </form>       
          </div>
        </div>
      </div>
    </div>
  
    <div class="bottom-right-container">
      <img src="../../assets/images/Bottomright.png" alt="Example Image" class="bottom-right-image">
    </div>
  </div>