.header-DealerCustomer label {
    color: var(--v4);
}
.header-DealerCustomer {
    /* background-color: #52674F; */
    background-color: var(--v3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.btn{
    background-color: var(--v3);
    color: #ffff !important;
}